.container {
    /* 모달창 크기 */
    width: 600px;
    height: 570px;
  
    /* 최상단 위치 */
    z-index: 9;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
  }
  
  /* 모달창 내부 X버튼 */
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .submit {
    display: block;
    margin : auto;
    margin-top: 20px;
  }
