.navbar {
  position: sticky;
  top: 0px;
  background-color: #000000;
  /* Use the Sass variable */
  z-index: 3;
}
.navbar .navbar-container {
  width: 85%;
  display: flex;
  height: 65px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}
.navbar .navbar-container .navbar-left {
  display: flex;
}
.navbar .navbar-container .navbar-left img {
  width: 200px;
  margin: 16px 0 0 15px;
}
.navbar .navbar-container .sorts-contents {
  margin-right: 400px;
}
.navbar .navbar-container .sorts-contents .menu {
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px 20px 10px;
  /* Use the Sass variable */
  color: white;
}
.navbar .navbar-container .navbar-right {
  display: flex;
  width: fit-content;
  font-size: 15px;
  /* Use the Sass variable */
  margin-right: 30px;
}
.navbar .navbar-container .navbar-right .search-bar {
  position: relative;
  width: 250px;
  height: 38px;
  margin-top: 12px;
  line-height: 23px;
  background-color: white;
  /* Use the Sass variable */
  border-radius: 3px;
}
.navbar .navbar-container .navbar-right .search-bar .search-container {
  padding: 7px 10px 8px 15px;
  border: none;
  display: flex;
}
.navbar .navbar-container .navbar-right .search-bar .search-container i {
  position: absolute;
  width: 16px;
  top: 10px;
  left: 9px;
  color: black;
}
.navbar .navbar-container .navbar-right .search-bar .search-container .search-input {
  width: 100%;
  outline: none;
}
.navbar .navbar-container .navbar-right .btn-login {
  margin: 15px 15px;
  cursor: pointer;
}
.navbar .navbar-container .navbar-right .btn-signup {
  display: inline-block;
  margin: 15px 0px;
  height: 32px;
  padding: 0 14px;
  border: 1px solid #b9b9bc;
  border-radius: 5px;
  cursor: pointer;
}
