body {
    background: url(https://png.pngtree.com/background/20210711/original/pngtree-hand-drawn-blue-sky-white-clouds-weather-forecast-illustration-background-picture-image_1137685.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }